# Core functionality - changes here should be rare!
/src/app.py                   @NizarDouirek
/src/backend/database.py      @NizarDouirek
/src/backend/routers/auth.py  @NizarDouirek

# The frontend will need refactored soon to be more object oriented.
/src/static/   @NizarDouirek

